Django==5.1.1
domain-coordinator==0.10.0
example-interfaces==0.9.3
geodesy==1.0.6
geographic-msgs==1.0.6
geometry-msgs==4.2.4
gps-msgs==2.0.4
grid-map-msgs==2.0.0
gunicorn==23.0.0
image-geometry==3.2.1
interactive-markers==2.3.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
whitenoise==6.7.0
xacro==2.0.8
